/**
 * Styles for the HTML display of MaPS Log through XSL stylesheet.
 */

body {
  font-family: Arial;
}

#content {
  margin-bottom: 80px;
}

ul#fold-links {
  margin: 20px 0;
}

ul#fold-links li {
  display: inline-block;
  font-size: 1.4em;
  list-style: none outside none;
  margin: 0 10px;
}

ul#fold-links li a,
ul#fold-links li a:link,
ul#fold-links li a:visited,
ul#fold-links li a:hover,
ul#fold-links li a:focus {
  background-color: #D8E4F9;
  border: 1px solid #144AA2;
  border-radius: 3px;
  display: block;
  color: #144AA2;
  padding: 2px 8px;
  text-decoration: none;
}

ul#fold-links li a:hover {
  background-color: #B7C6E0;
}

ul#fold-links li a:focus {
  border: 1px dashed #144AA2;
  outline: 0 none;
}

.context {
  /* @todo create a sprite */
  background: url("../images/collapsed.png") no-repeat 0 .5em;
  border-bottom: 1px dashed #000000;
  padding-left: 20px;
}

.context.wrapper-opened {
  background-image: url("../images/expanded.png");
}

#content > .context {
  background-position: 4px .5em;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-left: 24px;
}

.context-title, .message-title {
  cursor: pointer;
}

.context-title {
  font-size: 1.4em;
}

.message-title {
  font-size: 1.2em;
}

.level-0, .level-1, .level-2, .level-3 {
  background-color: #F0B39A;
}

.context.level-0, .context.level-1, .context.level-2, .context.level-3 {
  border-bottom-color: #C8211D;
}
.level-4, .level-5 {
  background-color: #F3EAA2;
}

.context.level-4, .context.level-5 {
  border-bottom-color: #D5A512;
}

.level-6, .level-7 {
  background-color: #CFEDB5;
}

.context.level-6, .context.level-7 {
  border-bottom-color: #64A729;
}

.message-title {
  font-weight: bold;
}
