/**
 * CSS styles for MaPS Import module.
 */


body.page-admin table#maps-import-mapping-overview label {
  font-size: 1em;
}

table#maps-import-mapping-overview tr .form-item-new-field-name .element-invisible {
  clip: auto;
  height: auto !important;
  position: static !important;
  visibility: hidden;
}

